body {
    text-align: center;
}

#title {
    font-weight: 700;
    font-size: 100px;
    font-family: "Garamond", "Georgia", serif;
    color: white;
    margin-bottom: 20px
}

#link {
    font-weight: 300;
    font-size: 25px;
    background-color: #fffee3;
    padding: 50px;
    margin: auto;
    margin-bottom: 10px;

}

#intro {
    font-size: 15px;
    color: white;
    font-family: "Garamond", "Georgia", serif;
    margin: auto;
    margin-bottom: 10px;
    width: 700px; 
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #AA262A
}

#ingredients,
#steps,
ul,
ol {
    text-align: left;
}

.pic {
    width: auto;
    height: 520px
}

h1 {
    font-size: 40px;
    background-color: #F7C118;
    width: auto;
    padding: 5px
}

#dish {
    width: 900px;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px

}
